# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django migrationlar (faqat __init__.py ni qoldiramiz)
tests/migrations/**
!tests/migrations/__init__.py
accounts/migrations/**
!accounts/migrations/__init__.py
scores/migrations/**
!scores/migrations/__init__.py
tests/migrations/**
!tests/migrations/__init__.py

# Environment
.env
venv/
.venv/

# OS files
.DS_Store

# PyCharm / VSCode
.idea/
*.iml
.vscode/

# Logs
*.log

# Postgres data (docker volume)
postgres/
